{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Agendamento </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>
    <header>
        {% include 'partials/header.html' %}
    </header>
    <main>
        <div class="registration-form">
            <h2> Novo agendamento </h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="department" id="{{ form.department.id_for_label }}" placeholder="Departamento">
                </div>
                <div class="form-group">
                    <input type="text" name="doctor" id="{{ form.doctor.id_for_label }}" placeholder="Médicos">
                </div>
                <div class="form-group">
                    <input type="text" name="datetime" id="{{ form.datetime.id_for_label }}" placeholder="Data e Hora">
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        {% include 'partials/footer.html' %}
    </footer>
</body>

</html>
{% endblock %}

